## Priklady 1

## Numbers
Napiste rovnicu za pouzitia nasobenia, delenia, umocnenia, scitavania a odcitavania aby bol vysledok rovny 100.25

In [4]:
5*20/2**2+76-0.75

100.25

Zapiste vysledky tychto tvrdeni, nasledne otestujete v kode.

    What is the value of the expression 4 * (6 + 5)
    
    What is the value of the expression 4 * 6 + 5 
    
    What is the value of the expression 4 + 6 * 5

2

Aky datovy typ je vysledkom tohto vyrazu? 3 + 1.5 + 4?<br><br>

Ako by ste vypocitaly 2 mocninu a odmocninu cisla 16 ?

In [5]:
# Square root:
16**0.5

4.0

In [6]:
# Square:
16**2

256

## Retazec - Strings

Vypiste 'e' zo stringu 'hello'

In [7]:
s = 'hello'
# Print out 'e' using indexing
print(s[1])

e

## Zoznam/pole - Lists/arrays

Vytvorte list [0,0,0] .

In [11]:
# Method :
list=[0,0,0]
print(type(list))

<class 'list'>

Vytvorte pole [1,1,1] pomocou kniznice numpy.

In [13]:
# Method 2:
import numpy as np

pole=np.array([1,1,1])
print(pole)

[1 1 1]

Zoradte hodnoty v list4

In [16]:
list4 = [5,3,4,6,1]
list4.sort()
print(list4)

[1, 3, 4, 5, 6]

## Slovniky Dictionaries

Pomocou kluca vypiste 'hello' z nasledujuceho slovnika(dictionary):

In [18]:
d = {'simple_key':'hello'}
# Grab 'hello'
print(d['simple_key'])

hello

In [20]:
d = {'k1':{'k2':'hello'}}
# Grab 'hello'
print(d['k1']['k2'])

hello

## Booleans

Porovnavanie, a=3 and b=4.

<table class="table table-bordered">
<tr>
<th style="width:10%">Operator</th><th style="width:45%">Description</th><th>Example</th>
</tr>
<tr>
<td>==</td>
<td>If the values of two operands are equal, then the condition becomes true.</td>
<td> (a == b) is not true.</td>
</tr>
<tr>
<td>!=</td>
<td>If values of two operands are not equal, then condition becomes true.</td>
<td> (a != b) is true.</td>
</tr>
<tr>
<td>&gt;</td>
<td>If the value of left operand is greater than the value of right operand, then condition becomes true.</td>
<td> (a &gt; b) is not true.</td>
</tr>
<tr>
<td>&lt;</td>
<td>If the value of left operand is less than the value of right operand, then condition becomes true.</td>
<td> (a &lt; b) is true.</td>
</tr>
<tr>
<td>&gt;=</td>
<td>If the value of left operand is greater than or equal to the value of right operand, then condition becomes true.</td>
<td> (a &gt;= b) is not true. </td>
</tr>
<tr>
<td>&lt;=</td>
<td>If the value of left operand is less than or equal to the value of right operand, then condition becomes true.</td>
<td> (a &lt;= b) is true. </td>
</tr>
</table>

What will be the resulting Boolean of the following pieces of code (answer fist then check by typing it in!)

In [ ]:
# Answer before running cell
2 > 3

In [ ]:
# Answer before running cell
3 <= 2

In [ ]:
# Answer before running cell
3 == 2.0

In [ ]:
# Answer before running cell
3.0 == 3

In [ ]:
# Answer before running cell
4**0.5 != 2

# Metody/funcie/cykly

Napiste funkciu, ktora vrati mensie z 2 cisel ak su obe parne a vacsie ak nie.

In [28]:
# Kod

def func(num1,num2):
    if num1%2 ==0 and num2%2 ==0:
        if num1<num2:
            return num1
        else:
            return num2
    else:
        if num1>num2:
            return num1
        else:
            return num2
        
        
        
func(2,1)

2

Napiste funkciu, ktora vrati True ak je sucet 2 zadanych cisel 30 alebo je jedno cislo 30, inak vrati False.

In [32]:
#kod

def func2(num1, num2):
    if num1+num2==30:
        return True
    if num1 == 30 or num2==30:
        return True
    else:
        return False
    
    
func2(15, 30)

True

Napiste funkciu ktora vrati True ak je zadane cislo vzdialene od cisla 100 alebo 200 maximalne o 10 .

In [ ]:
#Kod
def func4(num1):
    if 90<=num1<=110 or 190<=num1<=210:
        return True
    else:
        return False

Napiste funkciu kde u zadane 3 cisla od 1 do 11, ak je ich sucet mensi rovny 21 vrati ich sucet ak je ich sucet vacsi ako 21 vrati ich sucet zmenseny o 10.

In [35]:
#Kod
def func5(num1, num2, num3):
    if (num1+num2+num3)<=21:
        return num1+num2+num3
    if (num1+num2+num3) >21:
        return (num1+num2+num3-10)
    
    
func5(6,6,10)

12